<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear />
        <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
        <add key="github" value="https://nuget.pkg.github.com/Spirebyte-Project-Management/index.json"/>
    </packageSources>
    <activePackageSource>
        <add key="All" value="(Aggregate source)" />
    </activePackageSource>
    <packageSourceCredentials>
        <github>
            <add key="Username" value="Spirebyte-Project-Management"/>
            <add key="ClearTextPassword" value="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"/>
            <add key="ValidAuthenticationTypes" value="basic" />
        </github>
    </packageSourceCredentials>
</configuration>